@import url(Menu.css);
@import url(Inicio.css);
@import url(Nosotros.css);
@import url(Servicios.css);
@import url(OpcionServ.css);
@import url(Contáctenos.css);

 /*Fondo del Background*/
html, body{
    padding: 0;
    margin: 0;
    background-color: #fffde5;
    height: 100%;
    font-family: sans-serif;
    z-index: -100;
}
/*Fin*/

